.navbar{
    background: #3d3dff !important;
    font-weight: bold;
    letter-spacing: 2px;
}
.add-emp-btn{
    width: 169px;
    text-align: center;
    margin-right: 25px;
    background: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: 1px;
}